<include href="views/header.html">
<body>
<h1>Food Order</h1>
<form id="form2" action="order3" method="post">

    <p>Which meal?<br>
    <input id="Breakfast" type="radio" value="Breakfast" name="meal">
    <label for="Breakfast">Breakfast</label><br>

    <input id="Lunch" type="radio" name="meal" value="Lunch">
    <label for="Lunch">Lunch</label><br>

    <input id="Dinner" type="radio" value="Dinner" name="meal">
    <label for="Dinner">Dinner</label><br>
    </p>

    <button type="submit">Next >></button>
</form>

</body>
</html>