<include href="views/header.html">
<body>
<h1>Food Order</h1>
<form id="form3" action="summary" method="post">

    <p>Which Drink?<br>
        <input id="Cola" type="radio" value="Cola" name="drink">
        <label for="Cola">Cola</label><br>

        <input id="Water" type="radio" name="drink" value="Water">
        <label for="Water">Water</label><br>

        <input id="Orange Juice" type="radio" value="Orange Juice" name="drink">
        <label for="Orange Juice">Orange Juice</label><br>
    </p>

    <button type="submit">Next >></button>
</form>
</body>
</html>